[psana]
#modules	= CSPadPixCoords.CSPadNDArrProducer ImgAlgos.NDArrCalib spi.photconv cheetah_ana_pkg.cheetah_ana_mod 
modules	= CSPadPixCoords.CSPadNDArrProducer ImgAlgos.NDArrCalib spi.photconv cheetah_ana_pkg.cheetah_ana_mod 
#modules	= CSPadPixCoords.CSPadNDArrProducer ImgAlgos.NDArrCalib cheetah_ana_pkg.cheetah_ana_mod 

[CSPadPixCoords.CSPadNDArrProducer]
source  = DetInfo(CxiDs2.0:Cspad.0)
key_in  =
key_out = cspad_ndarr
outtype = double
print_bits = 0

[ImgAlgos.NDArrCalib] 
source  = DetInfo(CxiDs2.0:Cspad.0)
key_in = cspad_ndarr 
key_out = calibrated 
do_peds = yes
do_cmod = yes
# Careful here! Pixels will be set to zero if activated
do_stat = yes
do_mask = no
do_bkgd = no
do_gain = yes
do_nrms = no
do_thre = no

[spi.photconv]
source = DetInfo(CxiDs2.0:Cspad.0)
key_in = calibrated
key_out = photcount
photEnergy = 8
cheetahFmt = True

[pyimgalgos.cspad_gainmap]
source = DetInfo(CxiDs2.0:Cspad.0)
key_in = calibrated
key_out = test

# The front CXI cspad detector is called CxiDs2 starting with cxid6214 (June 2014)
# Before then the front cspad was called CxiDsd
[cheetah_ana_pkg.cheetah_ana_mod]
#cspadSource0 = DetInfo(DsaCsPad.0:Cspad.0)
cspadSource0 = DetInfo(CxiDs2.0:Cspad.0)
cspadSource1 = DetInfo(CxiDs2.0:Cspad.0)
evrSource = DetInfo(NoDetector.0:Evr.0)
beamSource = BldInfo(EBeam)
feeSource = BldInfo(FEEGasDetEnergy)
feeSpectrum = BldInfo(FEE-SPEC0)
timetoolSource = DetInfo(CxiDsu.0:Opal1000.0)
cavitySource = BldInfo(PhaseCavity)
#cameraSource = DetInfo()
spectrumSource = DetInfo(CxiEndstation.0:Opal2000.1)
