[psana]
modules        = cheetah_psana.cheetah_ana_mod 
#modules	= cheetah_ana_pkg.cheetah_ana_mod 
#modules = jungfrau.jungfrau cheetah_psana.cheetah_ana_mod 

# Necessary only if using pspython module to pull Jungfrau data
# and save back in event store for use by Cheetah
# Harmless if not needed
[jungfrau.jungfrau]
source = DetInfo(MfxEndstation.0:Jungfrau.0)
key_out = jungfrau_img


# The front CXI cspad detector is sometimes called CxiDs1 and sometimes CxiDs2
# Use psana -m eventKeys to find out what is in your XTC file
[cheetah_ana_pkg.cheetah_ana_mod]
#cspadSource0 = DetInfo(CxiDs1.0:Cspad.0)
cspadSource0 = DetInfo(CxiDs2.0:Cspad.0)
#cspadSource0 = DetInfo(MfxEndstation.0:Cspad.0)
cspadSource1 = DetInfo(CxiDs2.0:Cspad.0)
#cspadSource1 = DetInfo(CxiDsd.0:Cspad.0)
rayonixSource0 = DetInfo(MfxEndstation.0:Rayonix.0)
#rayonixSource0 = DetInfo(CxiEndstation.0:Rayonix.0)
pnccdSource0 = DetInfo(Camp.0:pnCCD.0)
pnccdSource1 = DetInfo(Camp.0:pnCCD.1)
pulnixSource = DetInfo(CxiSc1.0:Tm6740.0)
evrSource = DetInfo(NoDetector.0:Evr.0)
beamSource = BldInfo(EBeam)
feeSource = BldInfo(FEEGasDetEnergy)
feeSpectrum = BldInfo(FEE-SPEC0)
timetoolSource = DetInfo(CxiDsu.0:Opal1000.0)
cavitySource = BldInfo(PhaseCavity)
#cameraSource = DetInfo()
spectrumSource = DetInfo(CxiEndstation.0:Opal2000.1)
